# Cross Validation

### We're going to review cross validation and build up to k-folds

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("/Users/modeedna/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/DATA/Advertising.csv")

In [8]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

### Train test split procedure

In [9]:
X = df.drop('sales',axis=1)
y = df['sales']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

It's a good idea to scale the data if it's not the same value

In [12]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
from sklearn.linear_model import Ridge

In [16]:
model = Ridge(alpha=100)

In [17]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_squared_error(y_test, y_pred)

7.34177578903413

Compare to other alpha values to find the best model

In [24]:
model_two = Ridge(alpha=1)

In [25]:
model_two.fit(X_train, y_train)

Ridge(alpha=1)

In [26]:
y_pred_two = model_two.predict(X_test)

In [27]:
mean_squared_error(y_test, y_pred_two)

2.3190215794287514

Improving the MSE from previous model means we are improving a model using knowledge that we shouldn't have. Contamination of model.

### Train, validation, and test

You use the test (holdout data) to get a true error without contamination.
It is done by splitting the data twice. Of the initial data, 30% is holdout data and you perform a split on it to get validation and evaluation data.

In [29]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

In [30]:
X_eval, X_test, y_eval, y_test = train_test_split(X_other, y_other, test_size=0.5, random_state=101)

In [33]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [34]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
X_eval = scaler.transform(X_eval)

In [35]:
model_one = Ridge(alpha=100)
model_one.fit(X_train, y_train)

Ridge(alpha=100)

In [37]:
y_eval_pred = model.predict(X_eval)

In [38]:
mean_squared_error(y_eval, y_eval_pred)

7.320101458823871

In [39]:
model_two = Ridge(alpha=1)
model_two.fit(X_train, y_train)

Ridge(alpha=1)

In [40]:
new_pred_eval = model_two.predict(X_eval)

In [41]:
mean_squared_error(y_eval, new_pred_eval)

2.3837830750569853

In [42]:
y_final_test_pred = model_two.predict(X_test)

In [43]:
mean_squared_error(y_test, y_final_test_pred)

2.2542600838005176

### K fold split, cross_val_score

Scores the results based on using different train test split data

In [65]:
X = df.drop('sales',axis=1)
y = df['sales']

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [67]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [68]:
model = Ridge(alpha=101)

In [69]:
from sklearn.model_selection import cross_val_score

Using the cross_val_score

In [70]:
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [71]:
scores

array([ -9.3874711 ,  -4.99070337, -11.45306134,  -7.08168057,
        -8.42229836])

In [72]:
abs(scores.mean())

8.267042949111943

In [73]:
model = Ridge(alpha=1)

In [74]:
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error', cv=5)

In [75]:
scores

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [76]:
abs(scores.mean())

3.344839296530695

In [77]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [78]:
y_final_test_pred = model.predict(X_test)

In [79]:
# fitting the model on unseen data to get a real score
mean_squared_error(y_test, y_final_test_pred)

2.3190215794287514

### cross_validate

This functions does the same as cross val score but you can ask for more metrics and it gives more info

In [80]:
X = df.drop('sales',axis=1)
y = df['sales']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [81]:
from sklearn.model_selection import cross_validate

In [82]:
model = Ridge(alpha=100)

In [83]:
scores = cross_validate(model,X_train,y_train, scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [85]:
scores = pd.DataFrame(scores)

In [87]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002195,0.001315,-6.060671,-1.810212
1,0.002019,0.001056,-10.627031,-2.541958
2,0.001386,0.001085,-3.993426,-1.469594
3,0.001560,0.001140,-5.009494,-1.862769
4,0.000896,0.000453,-9.141800,-2.520697
5,0.000588,0.000407,-13.086256,-2.459995
6,0.000578,0.000375,-3.839405,-1.451971
7,0.000896,0.000418,-9.058786,-2.377395
8,0.000591,0.000366,-9.055457,-2.443344
9,0.000501,0.000348,-5.778882,-1.899797

In [89]:
scores.mean()

fit_time                        0.001121
score_time                      0.000696
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [91]:
model = Ridge(alpha=1)

In [94]:
scores = cross_validate(model,X_train,y_train, scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)
scores = pd.DataFrame(scores)
scores.mean()

fit_time                        0.001152
score_time                      0.000570
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

Once you find the model you like, you can use it to predict and get the scores

In [95]:
model.fit(X_train, y_train)
y_final_pred = model.predict(X_test)

In [96]:
mean_squared_error(y_test, y_final_pred)

2.3190215794287514

## Grid Search

A way of training and validating a model on every possible combination of multiple hyperparameter options.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/Users/modeedna/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/DATA/Advertising.csv")

X = df.drop('sales',axis=1)
y = df['sales']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [4]:
from sklearn.linear_model import ElasticNet

In [5]:
base_elastic_net_model = ElasticNet()

In [6]:
param_grid = {'alpha':[0.1,1,5,10,50,100], 'l1_ratio':[.1,.5,.7,.95,.99,1]}

In [7]:
from sklearn.model_selection import GridSearchCV

In [8]:
grid_model = GridSearchCV(estimator=base_elastic_net_model, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5, verbose=1)

In [9]:
grid_model.fit(X_train, y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [10]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [11]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [12]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001580,0.001119,0.000460,2.517320e-04,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,6
1,0.000582,0.000074,0.000236,4.300172e-05,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,5
2,0.000689,0.000170,0.000272,6.882176e-05,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,4
3,0.000596,0.000120,0.000203,1.961326e-05,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3
4,0.000757,0.000084,0.000324,3.652180e-05,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",-3.208124,-1.478489,-5.380242,-2.181097,-4.222968,-3.294184,1.396953,2
5,0.000600,0.000169,0.000199,5.672170e-05,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1
6,0.000415,0.000022,0.000164,2.293780e-06,1,0.1,"{'alpha': 1, 'l1_ratio': 0.1}",-9.827475,-5.261525,-11.875347,-7.449195,-8.542329,-8.591174,2.222939,12
7,0.000394,0.000008,0.000161,4.310038e-06,1,0.5,"{'alpha': 1, 'l1_ratio': 0.5}",-8.707071,-4.214228,-10.879261,-6.204545,-7.173031,-7.435627,2.255532,11
8,0.000358,0.000026,0.000144,3.916456e-06,1,0.7,"{'alpha': 1, 'l1_ratio': 0.7}",-7.920870,-3.549562,-10.024877,-5.379553,-6.324836,-6.639940,2.206213,10
9,0.000362,0.000054,0.000173,7.321337e-05,1,0.95,"{'alpha': 1, 'l1_ratio': 0.95}",-6.729435,-2.591285,-8.709842,-4.156317,-5.329916,-5.503359,2.102835,9
10,0.000406,0.000043,0.000168,1.753218e-05,1,0.99,"{'alpha': 1, 'l1_ratio': 0.99}",-6.521344,-2.431385,-8.471086,-3.946327,-5.151344,-5.304297,2.079945,8
11,0.000483,0.000088,0.000200,4.962668e-05,1,1,"{'alpha': 1, 'l1_ratio': 1}",-6.468807,-2.391483,-8.410171,-3.893566,-5.105922,-5.253990,2.073832,7
12,0.000392,0.000006,0.000163,5.362245e-06,5,0.1,"{'alpha': 5, 'l1_ratio': 0.1}",-22.979265,-15.547104,-23.668249,-19.921063,-16.262737,-19.675684,3.334901,13
13,0.000390,0.000008,0.000168,2.026418e-06,5,0.5,"{'alpha': 5, 'l1_ratio': 0.5}",-27.793488,-18.602269,-27.107849,-23.945227,-18.064635,-23.102694,4.108297,14
14,0.000361,0.000006,0.000149,3.913552e-06,5,0.7,"{'alpha': 5, 'l1_ratio': 0.7}",-29.655510,-21.085059,-29.629478,-26.724595,-20.223654,-25.463659,4.077877,16
15,0.000354,0.000003,0.000150,3.421950e-06,5,0.95,"{'alpha': 5, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
16,0.000445,0.000070,0.000181,2.764693e-05,5,0.99,"{'alpha': 5, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
17,0.000333,0.000014,0.000139,6.181252e-06,5,1,"{'alpha': 5, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
18,0.000319,0.000003,0.000132,2.587254e-06,10,0.1,"{'alpha': 10, 'l1_ratio': 0.1}",-27.385346,-19.159534,-27.635464,-24.154104,-18.968161,-23.460522,3.794608,15
19,0.000324,0.000004,0.000133,1.971824e-06,10,0.5,"{'alpha': 10, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
20,0.000317,0.000001,0.000133,2.443529e-06,10,0.7,"{'alpha': 10, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
21,0.000319,0.000003,0.000131,1.134432e-06,10,0.95,"{'alpha': 10, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
22,0.000316,0.000003,0.000134,3.396607e-06,10,0.99,"{'alpha': 10, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
23,0.000324,0.000014,0.000131,3.080678e-06,10,1,"{'alpha': 10, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
24,0.000316,0.000004,0.000131,2.825034e-06,50,0.1,"{'alpha': 50, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
25,0.000323,0.000010,0.000138,7.268287e-06,50,0.5,"{'alpha': 50, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
26,0.000318,0.000011,0.000133,3.349420e-06,50,0.7,"{'alpha': 50, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
27,0.000317,0.000004,0.000131,2.753296e-06,50,0.95,"{'alpha': 50, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
28,0.000314,0.000002,0.000131,2.391803e-06,50,0.99,"{'alpha': 50, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
29,0.000317,0.000004,0.000132,4.312675e-06,50,1,"{'alpha': 50, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
30,0.000314,0.000004,0.000131,3.836688e-06,100,0.1,"{'alpha': 100, 'l1_ratio': 0.1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
31,0.000312,0.000001,0.000130,2.799160e-06,100,0.5,"{'alpha': 100, 'l1_ratio': 0.5}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
32,0.000313,0.000002,0.000128,5.309834e-07,100,0.7,"{'alpha': 100, 'l1_ratio': 0.7}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
33,0.000315,0.000006,0.000129,2.395603e-06,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
34,0.000312,0.000003,0.000131,3.791980e-06,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17
35,0.000310,0.000004,0.000129,3.171594e-06,100,1,"{'alpha': 100, 'l1_ratio': 1}",-31.130307,-22.549433,-31.155204,-27.963447,-21.698192,-26.899317,4.077240,17

In [13]:
y_pred = grid_model.predict(X_test)

In [15]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

2.3873426420874737