In [ ]:
# imports needed throughout the notebook
import numpy as np
import pandas as pd

# Numpy

### Numpy array

In [ ]:
mylist = [1, 2, 3]

In [ ]:
np.array(mylist)

In [ ]:
mymatrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
np.array(mymatrix)

In [ ]:
# creates a range in numpy format. start, end, steps
np.arange(0, 10, 2)

In [ ]:
# creates an array of zeros. row, columns
np.zeros((2,5))

In [ ]:
# over x range, give me y number with equal intervals
np.linspace(0, 10, 3)

In [ ]:
# identity matrix
np.eye(5)

### Random NP

In [ ]:
# creates an array of n numbers between 0 and 1.
np.random.rand(9)

In [ ]:
# creates an array of n numbers between 0 and 1. rows, columns, n numbers
np.random.rand(5, 5)

In [ ]:
# returns values from a normal distribution with a mean 0 and a variance of 1
np.random.randn(10)

In [ ]:
# returns values from a normal distribution with a mean 0 and a variance of 1. rows, columns
np.random.randn(2, 3)

In [ ]:
# from x to y, return z numbers
np.random.randint(0, 101, 5)

In [ ]:
# from x to y, return z numbers in the sahpe of rows and columns
np.random.randint(0, 101, (5, 2))

In [ ]:
# creating a random seed
np.random.seed(42)
np.random.rand(4)

In [ ]:
# creating array to show methods
arr = np.arange(0, 25)

In [ ]:
arr

In [ ]:
# rearrange the array. cannot rearrange if elements don't fit into the shape
arr.reshape(5, 5)

In [ ]:
# creating an array
ranarr = np.random.randint(0,101,10)

In [ ]:
# finding max and min of the array
print(ranarr.max())
print(ranarr.min())

In [ ]:
# finding the index of the max
ranarr.argmax()

### NP indexing and selection

In [ ]:
arr = np.arange(0,11)

In [ ]:
# grabbing a specific value by index
arr[0]

# grabbing a range in the array 0 to 5
arr[:5]

# grabbing 5 to end
arr[5:]

In [ ]:
# grab a range and change all numbers to something (can only be done with numpy array)
arr[:5] = 100

In [ ]:
# with numpy, making changes to a slice of an array saves the changes to the original array. you must create a copy
# in order to have no changes done to the original array
arr_copy = arr.copy()

In [ ]:
# indexing 2D
arr_2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
arr_2d[0][0]

In [ ]:
# indexing 2d other method. value of row x and column y
arr_2d[1, 1]

In [ ]:
# slicing rows and or columns

# gives rows from index 0 to 2
arr_2d[:2]

# from row 0 to row 2 not inclusive and from column 1 to final column
arr_2d[:2, 1:]

In [ ]:
array = np.arange(0,11)

In [ ]:
# indexing based on conditions
# returns the indexes where the condition is true
condition = array > 5
array[condition]

# same as
array[array > 4]

### Numpy operations

In [ ]:
array = np.arange(0,11)

In [ ]:
# different operations of array. using an operation on array will do it to every element of the array
print(array - 2)
print(array + 3)
print(array * 2)

# you can operate on two arrays
print(array - array)
print(array + array)
print(array * array)

# find the square root
print(np.sqrt(array))

# other examples
print(array.mean())
print(array.max())
print(array.std())
print(array.var())

In [ ]:
# create a matrix of arrays
array2d = np.arange(0, 25).reshape(5, 5)
array2d

In [ ]:
# sum the columns. axis 1 would be by row
print(array2d.sum(axis=0))
print(array2d.sum(axis=1))

# sum of everything in the array
print(array2d.sum())

# Pandas

### Pandas series

In [ ]:
# table with indexes that can be string
import numpy as np
import pandas as pd

In [ ]:
myindex = ['USA', 'CANADA', 'MEXICO']
mydata = [1776, 1867, 1821]
myser = pd.Series(data=mydata, index=myindex)

In [ ]:
myser

In [ ]:
# you can take a doctionary and turn it into a pandas series. it'll turn it into a table

In [ ]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [ ]:
# turn the dictionaries into series
salesq1 = pd.Series(q1)
salesq2 = pd.Series(q2)

In [ ]:
# look at the keys for the series
salesq1.keys()

In [ ]:
# operations on the series. doing same thing to every value
salesq1 / 100

In [ ]:
# adding both series together even if some values aren't present in both
salesq1.add(salesq2, fill_value=0)

### Pandas dataframes

In [ ]:
# dataframe is basically a table
import numpy as np
import pandas as pd

In [ ]:
# creating data for datafram
np.random.seed(101)
mydata = np.random.randint(0, 101, (4,3))

In [ ]:
# creating the dataframe
myindex = ['CA', 'NY', 'AZ', 'TX']
mycolumns = ['Jan', 'Feb', 'Mar']
df = pd.DataFrame(mydata, myindex, mycolumns)
df

In [ ]:
# loading in a csv file
myfile = "/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/tips.csv"
df = pd.read_csv(myfile)

In [ ]:
# counts the amount of instances in a column
df.value_counts(['sex'])

# column names
df.columns

# vlaues for indexes
df.index

# head shows the first x rows. default is 5
df.head(10)

# tail is the oppsite of head
df.tail()

# info of the table
df.info()

# gives simple statistical information for columns that are numbers
df.describe()

# changes columns with indexes. might be easier to read
df.describe().transpose()

In [ ]:
df.head()

In [ ]:
# slicing and selecting from the dataframe. selecting multiple columns
df[['total_bill', 'tip']]

In [ ]:
# creating a new column in the dataframe
df['percent_tip'] = ((df['tip']/df['total_bill'])*100).round(2)
df

In [ ]:
# removing rows or columns. axis 0 is row and 1 is column. default is 0
# DOING THIS TYPE OF OPERATION IS NOT DONE IN PLACE. YOU NEED TO SET IT TO NEW OR OLD DF
df = df.drop('percent_tip',axis=1)

# or set inplace to true
df.drop('percent_tip',axis=1,inplace=True)

In [ ]:
# setting a column as the index. doesn't occur in place
df = df.set_index('Payment ID')

In [ ]:
# setting the index as a column. resetting
df = df.reset_index()

In [ ]:
# grabbing rows by number index
df.iloc[0]

# grabbing rows by named index
df.loc['Sun2959']

# grabbing multiple rows with integer index. slicing
df.iloc[0:3]

# grabbing multiple rows by index labels
df.loc[['Sun2959', 'Sun5260']]

In [ ]:
# removing rows with labeled indexes requires the label to drop
df = df.drop('Sun2959')
df.head()

# removing mutliple rows by slicing filtering
df = df.iloc[:]

In [ ]:
# adding rows. keeps the same index. make sure you're not duplicating the row in future
row = df.iloc[0]
df = df.append(row)
df

### Conditional filtering

In [ ]:
# filtering for where values of a column meet a condition
df[df['total_bill'] > 40]

# multiple conditions (and &) (or |) for pandas. regullar python is and + or. AND
df[(df['total_bill']>40) & (df['sex']=='Male')]

# OR
df[(df['total_bill']>30) | (df['sex']=='Male')]

# isin. faster than using a bunch of ORs
df[df['day'].isin(['Sat', 'Sun', 'Mon'])]

### Apply method on single columns

In [ ]:
# create function for what we want to do
def last_four(num):
    return str(num)[-4:]

In [ ]:
# apply it to all the values in a column
df['last4'] = df['CC Number'].apply(last_four)

In [ ]:
def yelp(price):
    if price < 10:
        return '$'
    elif price >= 10 and price <30: # we use and instead of & because it's regular python here
        return '$$'
    else:
        return '$$$'

In [ ]:
df['yelp'] = df['total_bill'].apply(yelp)
df

### Apply method with multiple columns

In [ ]:
# loading in a csv file
myfile = "/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/tips.csv"
df = pd.read_csv(myfile)

In [ ]:
df['total_bill'].apply(lambda bill: bill*2)

In [ ]:
def quality(total_bill,tip):
    if tip / total_bill > 0.25:
        return 'generous'
    else:
        return 'other'

In [ ]:
# applying the above function as a lambda function
# applying the function to multiple columns
df['quality'] = df[['total_bill', 'tip']].apply(lambda df: quality(df['total_bill'],df['tip']), axis=1)
df

In [ ]:
# vectorize method. applying a function to multiple columns. vectorize is faster than lambda
df['quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])
df

### Sattistical information , sorting, and other useful methods for dataframes

In [ ]:
# statistical info of columns
df.describe()

# sorting dataframe by a column's values. also multiple columns
df.sort_values(['tip','size'], ascending=True)

# max value. same for min()
df['total_bill'].max()

# index of max. same for idxmin()
df['total_bill'].idxmax()

# correlation check. only works with numeric columns
df.corr()

# counting amount of values in a column
df['sex'].value_counts()

# return the unique values
df['day'].unique()

# return the number of unique values
df['day'].nunique()

# replace method. only one value is being replaced
df['sex'].replace('Male', 'M')

# replace multiple values at once
df['sex'].replace(['Male', 'Female'], ['M', 'F'])

# replacing with mapping
mymap = {'Female':'F', 'Male':'M'}
df['sex'].map(mymap)

# dealing with duplicated rows. returns true for the very first instance that is duplicated
df.duplicated()

# dropping duplicate rows
df.drop_duplicates()

# finding values between two numbers
df[df['total_bill'].between(10,20, inclusive=True)]

# finding the n rows with the largst value of a column
df.nlargest(10, 'tip')

# same as before but smallest
df.nsmallest(10, 'tip')

# taking a sample of a dataframe by number of rows
df.sample(5)

# sample by fraction of the dataframe
df.sample(frac=0.1)

### Missing data

In [ ]:
import numpy as np
import pandas as pd
# loading in a csv file
myfile = "/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/movie_scores.csv"
df = pd.read_csv(myfile)

In [ ]:
df

In [ ]:
# get a True False dataframe of what's empty or not
df.isnull()

# opposite of previous method
df.notnull()

# getting back the rows where column rows are not null
df[df['pre_movie_score'].notnull()]

# two conditions
df[(df['pre_movie_score'].isnull()) & (df['first_name'].notnull())]

In [ ]:
# dropping the NA data. drops rows where any cell is missing a value. axis 1 is columns and 0 is rows
df.dropna(axis=0)

# dropping the NA data where all cells are missing
df.dropna(how='all')

# dropping requiring that many non NA values
df.dropna(thresh=4)

# drop the rows where there is an NA in the subset
df.dropna(subset=['last_name'])

In [ ]:
# filling in NAs. fills in every NA value with your choice
df.fillna('String')

# filling in NA of a specific column with the desired value
df['pre_movie_score'] = df['pre_movie_score'].fillna(0)
df

# fill in with a function
df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

# fill with the averages of each column. things that don't have an average value will keep the NAs
df.fillna(df.mean())

### Group by

In [ ]:
import numpy as np
import pandas as pd
# loading in a csv file
myfile = "/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/mpg.csv"
df = pd.read_csv(myfile)

In [ ]:
# grouping by a column's values and finding the mean. also grab only the mpg column
df.groupby('model_year').mean()['mpg']

In [ ]:
# grouping by multiple columns
year_cyl = df.groupby(['model_year', 'cylinders']).mean()

In [ ]:
# get the statistical info of the df when grouped by a column
df.groupby('model_year').describe().transpose()

In [ ]:
# grab by index
year_cyl.loc[[70,82]]

# grabbing with double index
year_cyl.loc[[(70,4), (70,6)]]

In [ ]:
# grabbing from multilevel indexes. CROSS SECTION
year_cyl.xs(key=70, level='cylinders')
# grabbing only 4 cylinder cars from every year
year_cyl.xs(key=4, level='cylinders')

In [ ]:
# swaps index levels. year with cylinders
year_cyl.swaplevel()

In [ ]:
# sort multilevel indexes
year_cyl.sort_index(level='model_year', ascending=False)

In [ ]:
# customize aggregate functions per column !!!
df.agg({'mpg':['max', 'mean'], 'weight':['mean','std']})

### Concatenation

In [ ]:
import numpy as np
import pandas as pd
# loading in a csv file
myfile = "/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/mpg.csv"
df1 = pd.read_csv(myfile)

In [ ]:
# concatenation works when the tables have the exact same format
data_one = {'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']}
data_two = {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}
one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

In [ ]:
# concatenate by column. keep same rows but add columns
# axis 0 will concatenate by row
pd.concat([one, two], axis=1)

### Inner merge

In [ ]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [ ]:
pd.merge(registrations, logins, how = 'inner', on = 'name' )

### Left and right merge

In [ ]:
# left merge merges and keeps everything from the table on the left
pd.merge(registrations, logins, how = 'left', on = 'name')

In [ ]:
# right merge merges and keeps everything from the table on the right
pd.merge(registrations, logins, how='right', on='name')

### Outer merge

In [ ]:
# outer merge merges both tables without having to match. those that match don't get duplicated
pd.merge(registrations, logins, how='outer')

### Text methods for string data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
email = 'jose@email.com'

In [ ]:
# split on value but removes value
email.split('@')

# checking if it is a type
email.isdigit()

In [ ]:
names = pd.Series(['andrew','bobo','claire','david','4'])

In [ ]:
# turn everything into capital letters
names.str.upper()

# checking if it's a type
names.str.isdigit()

In [ ]:
# turning the series into a df
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']
tickers = pd.Series(tech_finance)
tickers.str.split(',',expand=True)

In [ ]:
# stringing together string calls
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
messy_names.str.replace(";","").str.strip().str.capitalize()

### Time methods

In [ ]:
import pandas as pd
import numpy as np

from datetime import datetime

In [ ]:
# To illustrate the order of arguments
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [ ]:
# January 2nd, 2017 at 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [ ]:
myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [ ]:
# turning the series objet into datetime
pd.to_datetime(myser)

In [ ]:
# 10th of Dec OR 12th of October?
# We may need to tell pandas
euro_date = '10-12-2000'
pd.to_datetime(euro_date,dayfirst=True)

In [ ]:
# turning weird formats into dates
style_date = '12--Dec--2000'
pd.to_datetime(style_date, format='%d--%b--%Y')

In [ ]:
# another weird format
strange_date = '12th of Dec 2000'
pd.to_datetime(strange_date)

In [ ]:
# read in a csv file
sales = pd.read_csv("/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/RetailSales_BeerWineLiquor.csv")
sales

In [ ]:
# convert the column into datetime objects
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [ ]:
sales

In [ ]:
# read in a csv file and parse date at the same time
# read in a csv file
sales = pd.read_csv("/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/RetailSales_BeerWineLiquor.csv", parse_dates=[0])
sales

In [ ]:
# Yearly Means. group by year and get the mean
# RESAMPLE
sales = sales.set_index("DATE")
sales.resample(rule='A').mean()

### CSV input and output

In [ ]:
import pandas as pd

In [ ]:
# header = None would assume the first row is not a header
# make one of the columns an index. set index to a or index_col=0 to set the first column to the index
df = pd.read_csv("/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/example.csv")

In [ ]:
# index=True would use the current index. Flase would not
df.to_csv('new_file.csv')

### HTML tables

In [ ]:
# pandas can do it at times. when it can't, use beautiful soup

### Excel files input and output

In [ ]:
# if you set the sheet name to None, you'll get a dictionary with all the sheets
# for the dictionary, the key is the sheet name and the value is a dataframe
xl = pd.read_excel("/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/my_excel_file.xlsx", sheet_name='First_Sheet')

In [ ]:
xl

In [ ]:
# writing out to an excel file
xl.to_excel('excel.xlsx', sheet_name='new')

### SQL input and output

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sqlalchemy import create_engine

In [ ]:
# creates a temporary sql database in my RAM
temp_db = create_engine('sqlite:///:memory:')

In [ ]:
# create a dataframe
df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4,4)), columns=['a','b','c','d'])

In [ ]:
# turn the datafrane into a sql table with the engine we created
df.to_sql(name='new_table', con=temp_db)

In [ ]:
# reading the table from th sql database
new_df = pd.read_sql(sql='new_table', con=temp_db)

In [ ]:
# use a sql query to read the database
pd.read_sql_query(sql="SELECT a, c FROM new_table", con=temp_db)

### Pivot tables

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/eduardoarmenta/Desktop/LEARN/UDEMY/Python Data Science/UNZIP_FOR_NOTEBOOKS_FINAL/03-Pandas/Sales_Funnel_CRM.csv")

In [ ]:
# pivot tables like Excel
licenses = df[['Company','Product','Licenses' ]]
licenses

In [ ]:
# creating the pivot table
pd.pivot(data=licenses, index='Company', columns='Product', values='Licenses')

In [ ]:
# Notice Account Number sum() doesn't make sense to keep/use
pd.pivot_table(df,index="Company",aggfunc='sum')

In [ ]:
# Either grab the columns
pd.pivot_table(df,index="Company",aggfunc='sum')[['Licenses','Sale Price']]